@using Armls.Helios.Web;

<!DOCTYPE html>
<html lang="">
<head>

   <title>Atlas</title>

   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <meta name="description" content="Atlas">

   <!-- use http://www.favicon-generator.org/ to replace files in public/icon-->

   <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

   <!-- base url -->
   <base href="/">

   <environment names="Development, Production">
      <!-- .NET Production / Development mode  -->
      <link href="/css/app.style.css.gz?8609335d43fa570a3897" rel="stylesheet">
   </environment>
</head>

<body class="@Startup.Environment">
Loading...
@RenderBody()

<environment names="Development, Production">
   <!-- .NET Production / Development mode  -->
   <script type="text/javascript" src="js/commons.bundle.js.gz?8609335d43fa570a3897"></script>
   <!--<script type="text/javascript" src="js/polyfills.bundle.js.gz?8609335d43fa570a3897"></script>-->
   <!--<script type="text/javascript" src="js/vendors.bundle.js.gz?8609335d43fa570a3897"></script>-->
   <script type="text/javascript" src="dlls/dll.polyfills.bundle.js.gz?8609335d43fa570a3897"></script>
   <script type="text/javascript" src="dlls/dll.vendors.bundle.js.gz?8609335d43fa570a3897"></script>
   <script type="text/javascript" src="js/app.bundle.js.gz?8609335d43fa570a3897"></script>
</environment>

<environment names="Webpack">
   <!-- Webpack Development mode -->
   <script type="text/javascript" src="http://localhost:4000/js/commons.bundle.js.gz?8609335d43fa570a3897"></script>
   <script type="text/javascript" src="http://localhost:4000/js/polyfills.bundle.js.gz?8609335d43fa570a3897"></script>
   <script type="text/javascript" src="http://localhost:4000/js/vendors.bundle.js.gz?8609335d43fa570a3897"></script>
   <script type="text/javascript" src="http://localhost:4000/js/app.bundle.js.gz?8609335d43fa570a3897"></script>
</environment>

</body>
</html>
