<!DOCTYPE html>
<html lang="">
<head>

  <title>Atlas - Helios</title>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">

  <!-- use http://www.favicon-generator.org/ to replace files in public/icon-->

  

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!-- base url -->
  <base href="/">

</head>

<body class="development">
Loading...
@RenderBody()
 <environment names="Development"></environment><environment names="Staging,Production"></environment>
<script type="text/javascript" src="http://localhost:4000/polyfills.bundle.js?2541f1c411690c5ee58d"></script><script type="text/javascript" src="http://localhost:4000/vendors.bundle.js?2541f1c411690c5ee58d"></script><script type="text/javascript" src="http://localhost:4000/app.bundle.js?2541f1c411690c5ee58d"></script></body>
</html>
