# Created by .ignore support plugin (hsz.mobi)

# Root
.idea/shelf
.idea/workspace.xml

###################################
# Other rules moved: .gitignore file split into 3 files and moved into /frontend and /dotnetcore and /dotnetframework project folder so they can be seen within Visual Studio.
###################################
