# Created by .ignore support plugin (hsz.mobi)

# Root
.idea/shelf
.idea/workspace.xml

###################################
# Other rules moved: .gitignore file split into 3 files: 2 were moved into /frontend and /backend-nodejs project folders for specificity.
###################################