/* global/Forms.scss*/

/* ===============================================================
 *                MATERIALIZE.CSS CUSTOMIZATIONS
 * =============================================================== */

.suffix {
   float: right;
   width: 1em;
   font-size: 2rem;
   transition: color .2s;
   position: absolute;
   top: 5px;
   right: 0px;

   &.active {
      color: $material-form-color;
   }
}

button.material-icons.suffix {
   width: initial;
   top: -6px;
}

.suffix ~ input,
.suffix ~ textarea {
   margin-right: 2rem;
   width: calc(100% - 2rem);
}

.suffix ~ textarea {
   padding-top: .8rem;
}

.suffix ~ label {
   margin-right: 3rem;
}

input:not([type]), input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime], input[type=datetime-local], input[type=tel], input[type=number], input[type=search], textarea.materialize-textarea {
   box-sizing: border-box;
}

// fix for MaterializeCSS on FireFox, until my PR is approved at https://github.com/Dogfalo/materialize/pull/3821
.input-field {
   label {
      left: 0;
   }

   // Align Icons for Input fields
   i.align-right, button.align-right {
      position: absolute;
      top: 0;
      right: 0px;
      cursor: pointer;
      line-height: 2.15em;
      padding: 0 5px;

      &:hover {
         color: #0c9587;
      }
   }

   i.align-left, button.align-left {
      position: absolute;
      top: 0;
      left: 0px;
      cursor: pointer;
      line-height: 2.15em;
      padding: 0 5px;

      &:hover {
         color: #0c9587;
      }
   }
}

/* input text and label colors */
.input-field:not(.browser-default) {
   label {
      color: rgba(0, 0, 0, 0.38);
   }

   /* input text */
   input[type=text] {
      height: 2.6rem;
      border-bottom: 1px solid rgba(0, 0, 0, 0.12);
   }

   /* label focus color */
   input[type=text]:focus:not([readonly]) ~ label {
      color: $material-form-color;
   }
   /* label underline focus color */
   input[type=text]:focus:not([readonly]) {
      border-bottom: 1px solid $material-form-color;
      box-shadow: 0 1px 0 0 $material-form-color;
   }
   /* valid color */
   input[type=text].valid {
      border-bottom: 1px solid $material-form-color;
      box-shadow: 0 1px 0 0 $material-form-color;
   }
   /* invalid color */
   input[type=text].invalid {
      border-bottom: 1px solid $material-form-color;
      box-shadow: 0 1px 0 0 $material-form-color;
   }
   /* icon prefix focus color */
   .prefix.active {
      color: $material-form-color;
   }
}

/* ===============================================================
 *                END MATERIALIZE.CSS CUSTOMIZATIONS
 * =============================================================== */
