/********************/
/* NotFound404.style.scss */
/********************/
@import '../../../assets/styles/appwide-metastyles.scss';

map {

   @include nested(24) {

      ngui-map {
         //@include span(18);
         height: 700px;
      }

      .panel {
         //@include span(6 last);

         .coordinates-data {
            font-size: 1.3rem;
            margin: 10px 10px 10px 0;
         }

         label {
            font-weight: bold;
            font-size: 1.3rem;
            color: initial;
         }

         .color-palette {
            @include clearfix;
         }

         .color-button {
            width: 18%;
            height: 60px;
            font-size: 0;
            margin-right: 4px;
            float: left;
            cursor: pointer;
            border: 4px solid #fff;
            &.selected {
               border: 4px solid #789;

            }
         }

         .places-results {
            max-height: 230px;
            overflow-y: scroll;
         }

         .delete-button {
            margin-top: 5px;
         }
      }
   }

   .pac-input {
      width: 20%;
      background: #fff;
      border: 1px solid #555;
      color: #333;
      margin: 10px;
   }
}
