/* Appwide/Forms.scss*/


/* ===============================================================
 *                            ALIGNMENTS
 * =============================================================== */

.center-block {
  display: flex;
  justify-content: center;
  margin: unset;
}

.text-align-right {
  text-align: right;
}

.text-align-left {
  text-align: left;
}

.text-align-center {
  text-align: center;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.clearfix {
   // These are 2 great methods for clearing floats, so the parent of the floated elements expands to contain the floats. Both work well, but the overflow method may have side effects in certain situations.

   //overflow: hidden;
   &:after {
      content: " ";
      display: block;
      height: 0;
      clear: both;
   }
}

