/* Appwide/Forms.scss*/

/* ===============================================================
 *                       DISLAY CSS LOGIC
 * =============================================================== */

.hidden {
  display: none;
}

.app-state {
  display: none;
}

/* =================================================
 *               DEVELOPMENT MODE CSS
 * ================================================= */
body.development {

  .app-state {
    display: flex;
  }
}


