//---------------------------------------------//
// Variables.scss
// all variables...
// Docs - http://outlinecss.co.uk/get-started.html#variables
//---------------------------------------------//

//  * NOTE: Do not include anything that will be actually rendered in CSS, because it will be added to every imported SASS file.
//  * Do not use SASS @import inside resources files. Add imported files directly in resources array in webpack config instead.
//  * See: https://github.com/shakacode/sass-resources-loader


// html
$html-font-base: 16px; //  used for calculating media query breakpoints
//$font-base: 1rem; //  used for for scaling font-size rhythm - in outline.css framework
$bootstrap-font-base: 22px; // used for scaling bootstrap components - in bootstrap/variables.scss

// Line height
$line-height-base: 1.5;

//$spacing: 1.5rem; // 24px
//$body-background-color: #F0F0F0;

// Colours
$colors-primary-green: #009688;
$colors-app-background: #f2f2f2; //override Materialize.css background color

// Fonts
//$font-primary: 'Segoe UI', san-serif; // body font
//$font-secondary: 'Lato', sans-serif; // title font
//$font-monospace: Monaco, Consolas, 'Lucida Console', monospace;
//$font-base-color: $color-grey-medium;


// Placeholder text colour
//$placeholder-text: $color-grey;

// Button text color
//$btn-text-color: #fff;
//$btn-text-color-alt: $color-grey-dark;

// Breakpoints
$mobile-landscape: 30rem; // 480px
$tablet: 40rem; // 640px
$tablet-wide: 48rem; // 768px
$desktop: 64rem; // 1024px
$widescreen: 71.25rem; // 1140px
$hd-widescreen: 100rem; // 1140px
$ultra-hd-widescreen: 134.375rem; // 2150px for Microsoft Surface Pro 3


// Transitions
$transition-default-property: all;
$transition-default-easing: ease-in-out;
$transition-default-speed: 0.2s;
$transition-default-speed-easing: $transition-default-speed $transition-default-easing;


//// Layout Conditions
$sidebarEnabled: true;
$contentContainerWidth: if($sidebarEnabled, 21, 24); // if($condition, true, false)
$contentContainerPosition: if($sidebarEnabled, 4, 1);

$sidebarWidth: if($sidebarEnabled, 3, 1); // 3 cols if true, 1 col if false. if false, sidebar will be display:none
$sidebarPosition: if($sidebarEnabled, 1, 1);

//$showSidebar: if($sidebarEnabled, visible, hidden);
$showSidebar: if($sidebarEnabled, block, none);

// Materialize.css theming
$material-form-color: color("blue", "base");

